@model ProductVM

<form method="post" enctype="multipart/form-data">
    <div class="card border mt-4 border-2 border-black mb-5">
        <div class="card-header bg-secondary bg-gradient text-center mb-3">
            <h2 class="text-white">@(Model.objProduct.ID == 0 ? "Create" : "Update") Product</h2>
        </div>

        <div class="row">
            <div class="col-10">
                <div asp-validation-summary="None"></div>

                <div hidden>
                    <input asp-for="objProduct.ID" />
                    <input asp-for="objProduct.ImageUrl" />
                </div>

                <div class="form-floating mb-3 p-1">

                    <input asp-for="objProduct.Author" type="text" class="form-control border-0 shadow" /> @* Data is retrieved from the model using asp-for tag helper*@
                    <label asp-for="objProduct.Author"></label>
                    <span asp-validation-for="objProduct.Author" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 p-1">

                    <input asp-for="objProduct.Price" class=" form-control border-0 shadow" />
                    <label asp-for="objProduct.Price"></label>
                    <span asp-validation-for="objProduct.Price" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 p-1">

                    <input asp-for="objProduct.ISBN" type="text" class="form-control border-0 shadow" />
                    <label asp-for="objProduct.ISBN"></label>
                    <span asp-validation-for="objProduct.ISBN" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 p-1">

                    <input asp-for="objProduct.Price50" class=" form-control border-0 shadow" />
                    <label asp-for="objProduct.Price50"></label>
                    <span asp-validation-for="objProduct.Price50" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 p-1">

                    <input asp-for="objProduct.ListPrice" type="text" class="form-control border-0 shadow" />
                    <label asp-for="objProduct.ListPrice"></label>
                    <span asp-validation-for="objProduct.ListPrice" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3 p-1">

                    <input asp-for="objProduct.Title" type="text" class="form-control border-0 shadow" />
                    <label asp-for="objProduct.Title"></label>
                    <span asp-validation-for="objProduct.Title" class="text-danger"></span>
                </div>
                <div class="mb-3 p-1">
                    <label asp-for="objProduct.Description" class="disabled"></label>
                    <textarea asp-for="objProduct.Description" class=" form-control border-0 shadow"></textarea>

                </div>
                <div class="form-floating mb-3 p-1">

                    <input type="file" name="ImgFile" class=" form-control border-0 shadow" />
                    <label asp-for="objProduct.ImageUrl"></label>
                </div>
                <div class="form-floating mb-2 p-1">

                    <select asp-for="objProduct.CategoryID" asp-items="@Model.Category" class="form-select border-0 shadow ">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <label asp-for="objProduct.CategoryID"></label>
                    <span asp-validation-for="objProduct.Category" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <img src="@Model.objProduct.ImageUrl" width="100%"
                style="border-radius:5px; border:1px solid #bbb9b9"/>
            </div>
        </div>

        
        

        <div class="row mb-4 mt-2 ms-1">
            <div class="col-6 col-md-3">
                @if (Model.objProduct.ID == 0)
                {
                    <button type="submit" class="btn btn-primary form-control shadow">Create</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary form-control shadow">Update</button>
                }
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control text-black shadow">
                    Back
                </a>
            </div>
        </div>




    </div>

</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
