@model Company

<form method="post">

    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4 border-2 border-black">
        <div class="row mb-2">
            <h2 class="text-white">Delete Product</h2>
        </div>
        <div asp-validation-summary="None"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled type="text" class="form-control" /> @* Data is retrieved from the model using asp-for tag helper*@
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="StreetAddress"></label>
            <input asp-for="StreetAddress" disabled class="form-control" />
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="City"></label>
            <input asp-for="City" disabled type="text" class="form-control" /> @* Data is retrieved from the model using asp-for tag helper*@
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="PostalCode"></label>
            <input asp-for="PostalCode" disabled class="form-control" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="State"></label>
            <input asp-for="State" disabled type="text" class="form-control" /> @* Data is retrieved from the model using asp-for tag helper*@
            <span asp-validation-for="State" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" disabled type="text" class="form-control" /> @* Data is retrieved from the model using asp-for tag helper*@
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="button" onclick="DeleteConfirmation(@Model.Id)" class="btn btn-primary form-control" asp-route-id="@Model.Id">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control text-black">
                    Back
                </a>
            </div>
        </div>




    </div>

</form>



@section Scripts
{

    <script src="~/js/product.js"></script>

}
