
<div class="card border-0 shadow border-black">
    <div class="card-header bg-secondary bg-gradient text-center mb-3">
        <h2 class="text-white">
            Company List
        </h2>
    </div>
    <div class="text-end me-4">
        <a asp-controller="Company" asp-action="UpSert" class="btn btn-primary text-light bg-black">
            <i class="bi bi-plus-square">Create New Company</i>
        </a>
    </div>
    <div class="border border-1 border-black m-5 p-4 rounded-3">
        <table class="table  table-bordered table-striped" id="CompanyData">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        StreetAddress
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        PostalCode
                    </th>
                    <th>
                        Phone
                    </th>
                    <th></th>
                </tr>
            </thead>           
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/company.js"></script>  
}